<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/styleRegister.css' %}">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="{% static 'website/logo.png' %}" alt="Logo" class="logo">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'weather' %}">Weather</a></li>
                <li><a href="{% url 'camps' %}">Camps</a></li>
                <li><a href="{% url 'info' %}">About us</a></li>
            </ul>
        </div>
       
    <div class="card">
    <h1>{{ request.user.username }}'s Profile</h1>
    {% if profile.avatar %}
    <img src="{{ profile.avatar.url }}" alt="Avatar" width="100" height="100">
{% else %}
    <img src="{% static 'website/default-avatar.png' %}" alt="Default Avatar" width="100" height="100">
{% endif %}
    <p><strong>City:</strong> {{ profile.city }}</p>
    <p><strong>Hiking Experience:</strong> {{ profile.hiking_experience }}</p>
    <p><strong>Favorite Trail:</strong> {{ profile.favorite_trail }}</p>
    <p><strong>Future Goals:</strong> {{ profile.future_goals }}</p>
    <p><strong>Equipment:</strong> {{ profile.equipment }}</p>
    <p><strong>Advice for Beginners:</strong> {{ profile.advice_for_beginners }}</p>
    <a href="{% url 'edit_profile' %}">Edit Profile</a>
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" style="background:none; border:none; color:inherit; cursor:pointer;">Logout</button>
    </form>
</div> 
</div>
</body>
</html>
