*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 130vh;
    background-image: linear-gradient(rgba(219, 158, 45, 0.336), rgba(219, 158, 45, 0.336)), url(backgroung.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    cursor: pointer;
    border-radius: 25px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #f5c104, #5b548a);
    color: #fff;
    margin: 10px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;

}
.camp{
    position: absolute;
    top: 15em;
    left: 10em;
    width: 100%;
    color: #fff;
}
.camp h1{
    font-weight: bold;
    font-size: 40px;
    margin-top: 60px;
}
.camp p{
    margin: 10px auto;
    font-weight: 100;
    line-height: 25px;
}
.camp1{
    position: absolute;
    top: 60em;
    left: 10em;
    width: 100%;
    color: #fff;
}
.camp1 h1{
    font-weight: bold;
    font-size: 40px;
    margin-top: 60px;
}
.camp1 p{
    margin: 10px auto;
    font-weight: 100;
    line-height: 25px;
}
.winner{
    border-radius: 20px;
}
.campInfo{
    position: absolute;
    top: 15em;
    left: 60em;
    width: 100%;
    color: #fff;
}
.campInfo h1{
    font-weight: bold;
    font-size: 40px;
    margin-top: 60px;
}
.campInfo p{
    margin: 10px auto;
    font-weight: 100;
    line-height: 25px;
}
